/*
--------------------------------------------------------------------------------
HTML elements look n feel
--------------------------------------------------------------------------------
*/

html {
  overflow-x: hidden !important;
}

body {
  min-height: 100vh;
  color: $dark;
  background-color: $white;
  font: $font-size-baseline $font-family-base;
}

h1 {
  font-weight: $font-weight-semi;
  line-height: 110%;
  margin-bottom: $margin-md;
  text-transform: capitalize;

  @include responsive_font($min: 2, $max: 2.5);
}

h2 {
  font-weight: $font-weight-semi;
  line-height: 120%;
  margin-bottom: $margin-sm;

  @include responsive_font($min: 1.75, $max: 2.25);
}

h3 {
  font-weight: $font-weight-medium;
  line-height: 120%;
  margin-bottom: $margin-xs;

  @include responsive_font($min: 1.5, $max: 2);
}

h4 {
  font-weight: $font-weight-semi;
  line-height: 120%;
  margin-bottom: $margin-xs;

  @include responsive_font($min: 1.25, $max: 1.75);
}

p {
  font-size: $font-size-baseline;
  line-height: 150%;
  margin-bottom: $margin-xs;
}

span {
  display: inline-block;
  @include responsive_font($min: .8, $max: 1);
}

a,
button,
.btn {
  @include transition(all, .3);
  color: $dark;
  cursor: pointer;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  @include responsive_font($min: .8, $max: 1);
}

a {
  text-decoration: none;

  &:hover {
    color: $light-primary;
  }
}

b {
  font-weight: $font-weight-semi;
}

strong {
  font-weight: $font-weight-bold;
}