fieldset input:not([type=radio]) {
    @include transition;
    width: 100%;
    height: 3rem;
    font-size: $font-size-baseline;
    padding: 1rem 1.5rem;
    display: block;
    border: $gray-border;
    border-radius: $b-radius-1;

    &:focus {
        outline: none;
        border-color: $dark;
    }
}

input[type=radio] {
    appearance: auto;
}

/*
--------------------------------------------------------------------------------
Remove chrome input configs
--------------------------------------------------------------------------------
*/

input[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: $dark;
    -webkit-box-shadow: 0 0 0px 1000px $white inset;
    transition: background-color 5000s ease-in-out 0s;
}