table {
  display: flex;
  margin: $margin-md auto 0;
  text-align: left;

  @include tablet {
    display: table;
  }

  td {
    width: 10rem;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include tablet {
      white-space: inherit;
    }
  }

  th,
  td {
    height: 4rem;
    padding: 1rem;

    @include tablet {
      display: table-cell;
    }
  }

  thead {
    display: table-header-group;

    tr {
      display: flex;
      flex-direction: column;

      th {
        vertical-align: middle;
        color: $primary;
        border: 1px solid $primary;
        text-transform: uppercase;

        &:nth-child(2), &:nth-child(4) {
          @include tablet {
            width: 10%;
          }
        }

        &:last-child, &:nth-last-child(2), &:nth-child(3) {
          @include tablet {
            width: 5%;
          }
        }
      }

      @include tablet {
        display: table-row;
      }
    }
  }

  tbody {
    display: flex;
    overflow: auto;
    width: 100%;

    @include tablet {
      display: table-row-group;
    }

    tr {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      background-color: $white;

      td {
        vertical-align: middle;
        border: 1px solid $primary;
      }

      &:nth-child(2n) {
        background-color: $gray;
      }

      @include tablet {
        display: table-row;
      }
    }
  }
}