table {
  width: 100%;
  margin: $margin-md auto 0;
  text-align: center;
  border: 1px solid $dark;

  th,
  td {
    height: 4rem;
    padding: $margin-xs;
  }

  thead th {
    vertical-align: middle;
    border-left: 1px solid $dark;
    border-right: 1px solid $dark;
    color: $dark;
    background-color: $primary;
    text-transform: uppercase;

    &.two-rows {
      border-bottom: 1px solid $dark;
    }
  }

  tbody tr {
    td {
      vertical-align: middle;
      border-left: 1px solid $dark;
      border-right: 1px solid $dark;
    }

    &:nth-child(2n) {
      background-color: $gray;
    }
  }
}