section.manufacturers {
  width: 80%;
  max-width: $container-max-width;

  .module-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $margin-md;

    .module:last-child {
      grid-column-start: 1;
      grid-column-end: 4;

      @include desktop-down {
        grid-column-start: 1;
        grid-column-end: 1;
      }
    }

    @include desktop-down {
      grid-template-columns: 1fr;
    }
  }
}