section.qipi {
  width: 80%;
  max-width: $container-max-width;

  .module-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    @include desktop-down {
      grid-template-columns: 1fr;
    }

    table {
      width: 100%;
      margin-top: 0;
    }
  }
}