section.qipi {
  width: 80%;
  max-width: $container-max-width;

  .module-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $margin-md;

    @include desktop-down {
      grid-template-columns: 1fr;
    }
  }
}