section.reports {
  display: grid;
  grid-template-columns: 1fr 25vw;
  gap: $margin-lg;
  max-width: $container-max-width;
  width: 80%;

  .reports-list {
    display: grid;
    gap: $margin-md;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }

  @include desktop-down {
    grid: 1fr auto / 1fr;
  }
}