section.verifications {
  display: grid;
  grid-template-columns: 1fr 20vw;
  gap: $margin-lg;
  width: 80%;
  max-width: $container-max-width;

  .verifications-list {
    @include tablet-down {
      overflow-x: scroll;
    }

    .verifications-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;

      fieldset {
        width: 50%;

        @include phablet-down {
          margin-top: $margin-sm;
        }
      }

      button,
      fieldset {
        @include phablet-down {
          width: 100%;
        }
      }

      @include phablet-down {
        flex-direction: column;
      }
    }
  }

  @include desktop-down {
    grid: 1fr auto / 1fr;
  }
}