.module {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $margin-md;
  border: $gray-border;
  border-radius: $b-radius-1;

  p {
    margin: $margin-md 0 $margin-sm;
  }

  .overall {
    width: 100%;
    margin: $margin-sm 0;
    padding: $margin-sm;
    color: $white;
    background-color: $light-primary;
  }
}