.module {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $margin-md;
  border: $gray-border;
  border-radius: $b-radius-1;

  @include tablet-down {
    overflow-x: hidden;
  }

  p {
    margin: $margin-md 0 $margin-sm;

    &:first-child {
      margin-top: 0;
    }
  }

  .overall {
    width: 100%;
    margin: $margin-sm 0;
    padding: $margin-sm;
    color: $white;
    background-color: $light-primary;
  }

  img {
    margin-top: 2rem;
  }

  h2 {
    margin: 0;
  }

  table {
    width: 100%;
    margin-top: 0;
  }
}