/*
--------------------------------------------------------------------------------
COLORS
--------------------------------------------------------------------------------
*/

$dark: #333333;
$gray:#E0E0E0;
$white: #FDFFFF;
$primary: #6A040F;
$light-primary: #D00000;