/*
--------------------------------------------------------------------------------
COLORS
--------------------------------------------------------------------------------
*/

$dark: #333333;
$dark-gray: rgba(51, 51, 51, 0.5);
$gray:#E0E0E0;
$white: #FDFFFF;
$primary: #FEE1E7;
$light-primary: #D00000;
$green: #329F5B;
$yellow: #FFBF00;