/*
--------------------------------------------------------------------------------
COLORS
--------------------------------------------------------------------------------
*/

$dark: #333333;
$gray:#E0E0E0;
$white: #FDFFFF;
$primary: rgba(255, 99, 132, 0.2);
$light-primary: #D00000;
$green: #329F5B;
$yellow: #FFBF00;